<%= form_tag({}, :id => 'wbs-list', :data => {:cm_url => issues_context_menu_path}) do -%>
  <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>

  <div class="autoscroll">
    <wbs-issues project-id="<%= project.id %>" default-tracker-id="<%= default_tracker_id %>" :additional-columns="<%= RedmineWbs.additional_columns.map{ |column| column.caption }.to_json %>">
      <template slot="header">
        <th class="checkbox hide-when-print">
          <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection', :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th>
        <th>#</th>
        <th></th>
        <th><%= l('field_subject') %></th>
        <th><%= l('field_estimated_hours') %></th>
        <th><%= l('field_total_estimated_hours') %></th>

        <% RedmineWbs.additional_columns.each do |column| %>
          <th><%= column.caption %></th>
        <% end %>
      </template>
    </wbs-issues>
  </div>
<% end -%>
