<h2><%= l(:label_wbs) %></h2>

<%= render :partial => 'wbs/list', :locals => { :project => @project, :default_tracker_id => @default_tracker_id } %>

<%= call_hook(:view_wbs_index_bottom, { :project => @project }) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'wbs', :plugin => 'redmine_wbs' %>

  <% if User.current.api_token %>
    <meta name="user-api-key" content="<%= User.current.api_key %>">
  <% end %>
<% end %>

<%= javascript_include_tag 'wbs', :plugin => 'redmine_wbs' %>

<%= context_menu %>
